@use '../../../styles.scss' as *;
@use "sass:color";

.conference {
  text-align: center;
  padding: 100px 50px 50px;
  background-color: $background-color;

  h1 {
    color: $primary-color;
    font-size: 2rem;
    margin-bottom: 10px;
  }

  .booking-form {
    background: white;
    padding: 25px;
    border-radius: 10px;
    max-width: 400px;
    margin: 20px auto;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);

    .form-group {
      margin-bottom: 20px;

      label {
        display: block;
        font-weight: 600;
        margin-bottom: 8px;
      }

      input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 1rem;
      }
    }

    button {
      background: $primary-color;
      color: white;
      padding: 12px;
      border: none;
      border-radius: 8px;
      font-size: 1rem;
      cursor: pointer;
      width: 100%;
      transition: background 0.3s ease-in-out;

      &:hover {
        background: color.adjust($primary-color, $lightness: -10%);
      }
    }
  }

  .view-rooms-btn {
    margin-top: 20px;
    background: $secondary-color;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
    transition: background 0.3s;

    &:hover {
      background: color.adjust($secondary-color, $lightness: -10%);
    }
  }
}

//Mobile adjustments
@media (max-width: 768px) {
  .booking-form {
    max-width: 100%; //full width for small screens
    padding: 15px;
  }

  button {
    font-size: 0.9rem;
  }
}
