<section class="about">
	<div class="container">
		<!-- About -->
		<div class="about-text">
			<h1>About Machakos University Hotel</h1>
			<p>
			Welcome to Machakos University Hotel and Conference Center, a perfect blend of comfort and convenience. Our hotel provides premium accommodation and exellent conference facilities, ideal for business meetings, workshops and leisure stays.
			</p>
			<p>
			Whether you are here for a corporate event or relaxing getaway, our dedicated team ensures a memorable experience with top-notch services, delicious meals, and a serene environment.
			</p>
		</div>

		<!-- About Images -->
		<div class="about-images">
			<img src="../../../assets/hotel1.jpg" alt="Hotel Entrance">
			<img src="../../../assets/hotel2.jpg" alt="Conference Hall">
			<img src="../../../assets/hotel3.jpg" alt="Luxury Room">
		</div>
	</div>
</section>
