<section class="contact">
	<h1>Contact Us</h1>
	<p>Have any questions? Reach out to us!</p>

	<!-- Contact Details -->
	<div class="contact-info">
		<p><strong>Email:</strong> info&#64;machakoshotel.ac.ke</p>	
		<p><strong>Phone:</strong> +254 707274969</p>
		<p><strong>Location:</strong> Machakos University, Mayakos</p>
	</div>

	<!-- Contact form -->
	<form class="contact-form" (submit)="sendMessage($event)">
		<input type="text" placeholder="Your Name" required [(ngModel)]="name" name="name" />
		<input type="email" placeholder="Your email" required [(ngModel)]="email" name="email" />
		<input type="text" placeholder="Subject" required [(ngModel)]="subject" name="subject" />
		<textarea placeholder="Your message" rows="5" required [(ngModel)]="message" name="message" name="message"></textarea>
		<button type="submit" [disabled]="loading">{{ loading ? 'Sending...' : 'Send Message' }}</button>
		<p *ngIf="successMessage" class="success-message">{{ successMessage }}</p> <!-- Btn shows sending when clicked and success messege after sending -->
	</form>

	<!-- Google Map -->
	<div class="map-container">
		<iframe
				src="http://www.google.com/maps/embed?..."
				width="100%"
				height="300"
				style="border:0;"
				allowfullscreen=""
				loading="lazy">
		</iframe>
	</div>
</section>
