@use '../../../styles.scss' as *;
@use "sass:color";

.contact {
  text-align: center;
  padding: 100px 50px 50px;

  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease-out forwards;

  h1 {
    font-size: 2.5rem;
  }

  .contact-info {
    margin-bottom: 20px;
    p {
      font-size: 1.1rem;
      margin: 5px 0;
    }
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    gap: 10px;

    input, textarea {
      width: 100%;
      padding: 12px;
      border: 1px solid $primary-color;
      border-radius: 5px;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); //add subtle shadow
      transition: 0.3s;

      &:focus {
        border-color: $secondary-color;
        box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2); //stronger effect on focus
        outline: none;
      }
    }

    button {
      background: $secondary-color;
      color: white;
      padding: 10px;
      border: none;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        background: color.adjust($secondary-color, $lightness: -10%);
      }

      &:active {
        transform: scale(0.95); //slight press effect
      }
    }
  }

  .map-container {
    margin-top: 30px;
    width: 100%;
    max-width: 800px;
    margin: 30px auto;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);

    iframe {
      width: 100%;
      height: 350px;
      border-radius: 15px;
    }
  }
}

//keyframes for fade-in effect
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .contact {
    padding: 60px 20px; // reduce padding for better fit

    h1 {
      font-size: 2rem;
    }

    .contact-info {
      p {
        font-size: 1rem; //smaller text for fitting
      }
    }

    .contact-form {
      max-width: 100%; //adjust fully to smaller screens
    }

    .map-container {
      iframe {
        height: 250px; // reduce height for better mobile view
      }
    }
  }
}

.success-message {
  margin-top: 10px;
  color: $gold-yellow;
  font-weight: bold;
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
