<nav class="navbar">
	<div class="nav-container">
		<img src="logo.png" alt="Machakos University Logo" class="logo" />
		<ul class="nav-links">
			<li><a [routerLink]="'/'" routerLinkActive="active">Home</a></li>
			<li><a [routerLink]="'/conference-booking'" routerLinkActive="active">Conference</a></li>
			<li><a [routerLink]="'/rooms'" routerLinkActive="active">Rooms</a></li>
			<li><a [routerLink]="'/restaurant'" routerLinkActive="active">Restaurant</a></li>
			<li><a [routerLink]="'/about'" routerLinkActive="active">About</a></li>
			<li><a [routerLink]="'/contact'" routerLinkActive="active">Contact</a></li>
		</ul>
	</div>
</nav>
