//Import global style
@use '../../../styles.scss' as *;

//Navbar styles
.navbar {
  background-color: $dark-purple;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;

  .logo {
    font-size: 1.8rem;
    font-weight: 700;
  }

  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;

    li {
      a {
        text-decoration: none;
        color: white;
        font-weight: 500;
        %:hover {
          color: $gold;
        }
      }
    }
  }
}
