<!-- Hero Section -->
<header class="hero">
	<div class="container">
		<h1>Machakos University Hotel and Conference Center</h1>
		<p>Experience Comfort & Convenience</p>
		<button routerLink="/conference-booking">Book Now</button>
	</div>
</header>

<!-- Quick Links Section -->
<section class="quick-links">
	<div class="container">
		<div class="link">
			<a routerLink="/conference-booking">Book a Conference Room</a>
		</div>
		<div class="link">
			<a routerLink="/rooms">Book a Room</a>
		</div>
		<div class="link">
			<a routerLink="/meals">View meal Schedule</a>
		</div>
	</div>
</section>
