// Import global styling
@use '../../../styles.scss' as *;

.footer {
  background-color: $dark-purple;
  text-align: center;
  padding: 30px 20px; // Ensures spacing inside footer
  color: white;
  margin-top: auto;

  //footer sticks to the bottom
  width: 100%;
  

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; // spacing between sections

    // Footer Links Section
    .footer-links {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
      justify-content: center;

      a {
        color: white;
        text-decoration: none;
        font-weight: 500;

        &:hover {
          color: $gold-yellow;
          cursor: pointer;
        }
      }
    }

    // Contact Info Section
    .footer-contact {
      text-align: center;
      font-size: 1rem;
      font-weight: 500;

      //overide global
      p {
        color: white !important;
      }
    }

    // Copyright Section
    .footer-copy {
      text-align: center;
      font-size: 0.9rem;
      opacity: 0.8; // Ensure visibility
      font-weight: 500;
      
      //overide global
      p {
        color: white !important;
      }
    }
  }
}
