//Primary colours
$primary-deep-purple: #4b327a;
$primary-gold: #ea9f2d;
$primary-dark-purple: #442a75;
$background-white: #ffffff;
$accent-muted-purple: #4a3179;

$font-family: 'Montserrat', sans-serif;

