//Color Palette
$primary-color: #4b327a;
$secondary-color: #ea9f2d;
$accent-color: #442a75;
$dark-purple: #442a75;
$gold-yellow: #ea9f2d;
$background-color: #ffffff;
$muted-purple: #4a3179;

// Global styles
body {
  font-family: 'Montserrat', sans-serif;
  background-color: $background-color;
  color: $primary-color;
  margin: 0;
  padding: 0;
}
