<nav class="navbar navbar-expand-lg primary-bg">
	<div class="container">
		<a class="navbar-brand gold-text" routerlink="/">Machakos Conference</a>
		<div class="collapse navbar-collapse">
			<ul class="navbar-nav me-auto">
				<li class="nav-item">
					<a class="nav-link gold-text" routerLink="/conference">Conference</a>
				</li>
				<li class="nav-item">
					<a class="nav-link gold-text" routerLink="/rooms">Rooms</a>
				<li class="nav-item">
					<a class="nav-link gold-text" routerLink="/about">About</a>
				<li class="nav-item">
					<a class="nav-link gold-text" routerLink="/contact">Contact</a>
				</li>
			</ul>
		</div>
	</div>
</nav>

<router-outlet></router-outlet>
